@model ProjektZTP.Models.QuestionViewModels.QuestionHardModel

@{
    ViewBag.Title = "QuestionHard";
}

<h2>QuestionHard</h2>


@if (Model.Mode == "learning")
{
    <h2 style="text-align: center">Question @Model.QuestionNumber</h2>
}
else
{
    <h2 style="text-align: center">Question @Model.QuestionNumber/10</h2>
}


@if (ViewBag.Message != null)
{
    <h2 style="color: red; text-align: center;">@ViewBag.Message</h2>
}

@using (Html.BeginForm("QuestionHard", "Quiz", FormMethod.Post))
{
    <div class="maindiv">
        <div class="panel panel-default">
            <div class="panel-body">
                @if (Model.Lang == "pl")
                {
                    @Html.Raw("Select the word that corresponds to: " + @Model.Word.WordEn);
                }
                else
                {
                    @Html.Raw("Podaj słowo odpowiadające słowu: " + @Model.Word.WordPl);
                }

            </div>
        </div>
        @{
            int i = 0;
        }

        @Html.TextBoxFor(model => model.Answer, new { @class = "form-control" })

    </div>
    @Html.HiddenFor(model => model.Word.Id)
    @Html.HiddenFor(model => model.Word.WordEn)
    @Html.HiddenFor(model => model.Word.WordPl)
    @Html.HiddenFor(model => model.QuestionNumber)
    @Html.HiddenFor(model => model.Mode)
    @Html.HiddenFor(model => model.Lang)
    <input type="submit" class="btn btn-success" value="Submit" style="margin-top: 20px;" id="submitButton" />
}
@Styles.Render("~/Content/Site.css")
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

}
